@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Media Query Mixin */
@mixin mobile {
  @media screen and (max-width: 575px) {
    @content;
  }
} 

@mixin mobile_large {
  @media screen and (min-width: 576px) and (max-width: 767px) {
    @content;
  }
} 

@mixin tablet {
  @media screen and (min-width: 768px) and (max-width: 991px) {
    @content;
  }
} 
@mixin tablet_large {
  @media screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
  }
}

*, ::after, ::before {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: black;
}
img {
  max-width: 100%;
}

.form__control {
  background-color: #f8f8f8;
  border: 1px solid #a6afae;
  border-radius: 5px;
  line-height: 30px;
  font-size: 15px;
  padding: 5px 15px;
  min-width: 200px;
}
/* Product Section */
.product__section {
  padding: 50px 15px;
  .product__container {
    max-width: 1200px;
    margin: 0 auto;
  }
  /* Filter Header */
  .product__header {
    background-color: #ddf2f3;
    padding: 4px 15px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
    @include mobile {
      font-size: 24px;
      padding-bottom: 15px;
    }
    .header__title {
      flex: 1 0 0%;
      width: 100%;
      max-width: 100%;
      h1 {
        margin: 0;
        font-size: 36px;
        @include mobile {
          font-size: 24px;
        }
        @include mobile_large {
          font-size: 30px;
        }
      }
    }
    .product__filter {
      text-align: right;
    }
  }
}

.product__list {
  display: flex;
  flex-wrap: wrap;
  & > * {
    flex: 0 0 auto;
    width: 25%;
    max-width: 100%;
    border: 1px solid #eeeced;
    padding: 20px 10px;
    @include mobile {
      width: 100%;
    }
    @include mobile_large {
      width: 50%;
    }
    @include tablet {
      width: 33.33%;
    }
  }
  .product__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h2 {
      flex: 0 0 auto;
      width: 65%;
      font-size: 17px;
      line-height: 21px;
      max-width: 100%;
      margin: 0;
    }
    .product__price {
      flex: 0 0 auto;
      width: 35%;
      font-size: 21px;
      max-width: 100%;
      font-weight: 600;
      font-size: 24px;
      text-align: right;
    }
  }
}

.tags__list {
  margin-bottom: 10px;
  height: 43px;
  span {
    padding: 10px 25px;
    font-size: 15px;
    color: white;
    background-color: #039700;
    display: inline-block;
    &.sale {
      background-color: #cc3230;
      padding: 10px 15px;
      margin-right: 5px;
    }
  }
}

/* Loader Css */
.loading-card { 
  height: auto;
  width: auto;
  overflow: hidden;
  margin: 12px;
  border-radius: 5px;
  .loading_card_img {
    height: 200px; 
    position: relative;
    background-color: rgba(244, 244, 244, 1);
    margin-bottom: 15px;
    &:after {
      display: block;
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      transform: translateX(-100%);
      animation: loading 0.8s infinite;
      background: linear-gradient(90deg , transparent, rgba(148, 148, 148, .2), transparent);
    }
  }
} 
/* Loading Animation */
@keyframes loading {
  100% {
      transform: translateX(100%);
  }
}